<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!--최소 Caliburn.Micro NuPkg 3.2.0이 있어야 실행할 수 있어 주의-->
	<package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
	<package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
	<package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
	<package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
	<package id="WixSharp" version="1.19.0" targetFramework="net48" />
	<package id="WixSharp.bin" version="1.19.0" targetFramework="net48" />
	<package id="WixSharp.WPF" version="1.19.0" targetFramework="net48" />
</packages>